body {
  margin: 0px;
  text-align: center;
  background-color: #e3fdfd;
  font-family: 'Merriweather', serif;
  font-size: 200%;
}

.underline {
  text-decoration: underline;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 0;
  margin-top: 2.6rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 0;
  color: #66BFBF;
  font-weight: normal;
  line-height: 2;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}
p{
  font-size: 1.2rem;
  margin: 0;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.code-img{
  width: 30%;
  float: left;
  margin-right: 30px;
  margin: 1.745rem 30px 1.745rem auto;
}
.soccer-img{
  width: 30%;
  float: right;
  margin-left: 30px;
  margin: 1.745rem auto 1.745rem 30px;
}
.top-container {
  margin: 0px;
  position: relative;
  padding-top: 100px;
  padding-bottom: 25px;
}

.upper-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
